body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #fafafa;
}

.mui-content {
	height: 100%;
}

/*斑马线效果*/
ul li.zebra:nth-child(odd) {
	background: #FFFFFF;
}

ul li.zebra:nth-child(even) {
	background: #d5e3f0;
}

/*内容名称样式*/
.nameStyle{
	
}

/*内容值样式*/
.valueStyle{
	color: black;
}
